canvas {
    display: block;
    margin: 0 auto;
    background-color: #f0f0f0;
}
body {
    text-align: center;
    background-color: #030c3f;
    font-family: 'ComicSansCustom', sans-serif; /* Dla przykładu, jak można użyć w CSS */

}
h1 {
    color: #f2cf08;
    font-size: 42px;
}
@font-face {
    font-family: 'ComicSansCustom';
    src: url('fonts/COMICSANS.TTF') format('truetype');
}